@import "../../app.scss";

@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
  }
}

.banner {
  background: linear-gradient(180deg, #202020, #000000);
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;

  .slider {
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 30s linear infinite;

    .slidertext {
      // background-color: white; // If needed, uncomment this line
      height: 50%;
      width: 60%;
      font-size: 100px;
      font-weight: bolder;
      // Add additional styling if necessary
    }

    .item {
      background: transparent;
      z-index: 999;
      font-size: 80px;
      font-weight: bolder;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50%;
      width: 60%;
      border-radius: 50px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      position: absolute;
      inset: 0 0 0 0;
      transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(550px);
    }
  }

  .text {
    // text-decoration: underline dashed;
    font-size: clamp(2rem, 5vw, 5rem);
    color: white;
    padding: 0 clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    transition: background-color 400ms, color 400ms;
    display: inline-block;
    white-space: nowrap; // Prevent text from wrapping to the next line
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(264, 264, 264, 0.1); // Background box effect
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); // Shadow effect
    padding: 0.5rem 1rem; // Padding around text

    @include mobile {
      height: 420px;
      top: 75%; // Adjust top position
      font-size: 48px;
      padding: 0 clamp(0.5rem, 1vw, 2rem); // Scale padding
      white-space: normal; // Allow text wrapping on smaller screens
      width: 100%; // Full width to allow wrapping
      text-align: center; // Center text
      line-height: 1.2; // Adjust line height for better spacing
      display: flex; // Use flexbox for alignment
      flex-direction: column; // Stack text vertically
      align-items: center; // Center text horizontally
      justify-content: center; // Center text vertically
    }
  }
}

@include mobile {
  .banner {
    .slider {
      width: 160px;
      height: 200px;
      left: calc(50% - 80px);

      .item {
        font-size: 150px;
        transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(420px);
      }
    }
  }
}
